html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: "Garamond";
  height: 100vh;
  width: 100%;
  text-align: center;
}
a {
  color: black;
  font-size: 22px;
}
a:hover{
  color: #923736;
}
.logo-container{
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  body{
    background-color: white;
    background-image: none;
  }
  .logo-container{
    margin-top: 100px;
    margin-bottom: 20px;
  }
}